@import "bootstrap/dist/css/bootstrap.min.css";

body {
    background: blanchedalmond;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0;
    padding: 20px;
    box-sizing: border-box;
}

.container {
    text-align: center;
}

.excuse-box {
    background-color: white;
    border-radius: 15px;
    padding: 40px 30px;
    box-shadow: 0 10px 30px black;
    margin-bottom: 30px;
    position: relative;
    overflow: hidden;
}


#excuse {
    font-size: 30px;
    color: #333;
    margin: 0;
    font-weight: 500;
}

.btn-generate {
    background: paleturquoise;
    color: black;
    border: none;
    border-radius: 50px;
    padding: 10px 20px;
    font-size: 18px;
    cursor: pointer;
    transition: all 0.3s ease;
    box-shadow: 0 4px 15px blueviolet;
}

.btn-generate:hover {
    transform: translateY(-3px);
    box-shadow: 0 7px 20px blueviolet;
}

.btn-generate:active {
    transform: translateY(1px);
}